<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafios</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/challenges.css')}}">
</head>
<body>
    <div class="challenges-section">
        <h1>Desafios Disponíveis</h1>
        <div class="challenge-grid">
            <div class="challenge-circle">
                <h2>Matemática</h2>
            </div>

            <div class="challenge-circle">
                <h2>Gramática</h2>
            </div>

            <div class="challenge-circle">
                <h2>História</h2>
            </div>

            <div class="challenge-circle">
                <h2>Geografia</h2>
            </div>
        </div>
    </div>
</body>
</html>
